<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dailypick.mapper.AlarmSettingMapper">
    <resultMap id="AlarmSettingMap" type="com.project.dailypick.dto.AlarmSettingDto">
        <id property="id" column="id"/>
        <result property="isEmail" column="is_email"/>
        <result property="isKakao" column="is_kakao"/>
        <result property="alarmTime" column="alarm_time"/>
    </resultMap>

    <select id="getAlarmSetting" resultMap="AlarmSettingMap">
        SELECT 
            is_email, is_kakao, alarm_time
        FROM alarm_setting
        WHERE user_id = #{userId}
    </select>

    <insert id ="insertAlarmSetting" parameterType="com.project.dailypick.dto.AlarmSettingDto">
        INSERT INTO alarm_setting (user_id, is_email, is_kakao, alarm_time)
        VALUES (#{userId}, #{isEmail}, #{isKakao}, #{alarmTime})
    </insert>

    <update id="updateAlarmSetting" parameterType="com.project.dailypick.dto.AlarmSettingDto">
        UPDATE alarm_setting
       <set>
            <if test="isEmail != null">
                is_email = #{isEmail},
            </if>
            <if test="isKakao != null">
                is_kakao = #{isKakao},
            </if>
            <if test="alarmTime != null">
                alarm_time = #{alarmTime}
            </if>
        </set>
        WHERE user_id = #{userId}
    </update>
</mapper>