<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dailypick.mapper.SummaryDataMapper">
    <resultMap id="SummaryDataMap" type="com.project.dailypick.dto.SummaryDataDto">
        <id property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createDate" column="create_date"/>
    </resultMap>

    <select id="getSummaryList" parameterType="string" resultMap="SummaryDataMap">
        SELECT 
            sd.id, 
            sd.title, 
            sd.content, 
            nw.link, 
            cg.category_name
        FROM summary_data sd
        LEFT JOIN category cg
        ON sd.category_id = cg.id
        LEFT JOIN news nw
        ON sd.news_id = nw.id
        <where>
            <if test="categoryId != null and categoryId != 0">
                AND sd.category_id = #{categoryId}
            </if>
            <if test="title != null">
                AND UPPER(sd.title) LIKE CONCAT('%', UPPER(#{title}), '%')
            </if>
            <if test="content != null">
                AND UPPER(sd.content) LIKE CONCAT('%', UPPER(#{content}), '%')
            </if>
        </where>
        ORDER BY sd.id DESC
        LIMIT #{offset}, #{size}
    </select>
</mapper>